# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Files
.python-version
nesmdb_midi.tar

# Folders
training
data
src/wandb

# pycache
*__pycache__*
.cache

.vscode
*.ipynb_checkpoints

# Secrets
src/*token*
